table{border-collapse: collapse;} 
th{ text-align: center;}
td{text-align: center}
h2{margin: 20px 0 10px 0;}

tr:nth-child(2n) {
	background-color: rgb(245, 245, 245);
}
tr:nth-child(2n +1) {
    background-color: rgb(240, 240, 240);
}
.ta_title{
	background-color: rgb(200, 200, 200) !important;
}
.page_nav{
	background-color: #fff !important;
}
.container{width: 90%; margin:0 atuo;}